@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c6e501;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta_wraper:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .menu-item-border::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,var(--guideDashedColor),var(--guideDashedColor) 50%,transparent 0,transparent);
    background-size: 8px 1px;
    content: "";
  }

.team_item:hover .image_avatar{
  filter: grayscale(0);
  --filter: grayscale(0);
}